:root {
  font: 16px / 1 serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(18, 18, 255);
}

main {
  background-color: rgb(18, 18, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 0rem;
  margin: 0rem;
}

header {
  width: 100%;
  background-color: rgb(0, 0, 85);
  margin: 0rem;
  color: white;
  position: sticky;
  display: flex;
  top: 0%;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  box-shadow: 0px 0px 1px 0.5px rgb(0, 0, 85);
}

h1 {
  padding: 0rem 0rem 0rem 6.27rem;
  margin: 1rem 0rem;
  text-align: center;
}

h1 a {
  text-decoration: none;
  color: white;
}

h1.user {
  padding: 0rem 0rem 0rem 6.5rem;
  margin: 1rem 0rem;
  text-align: center;
}

h1.user a {
  text-decoration: none;
  color: white;
}

h1.login {
  padding: 0rem 0rem 0rem 3.1rem;
  margin: 1rem 0rem;
  text-align: center;
}

h1.login a {
  text-decoration: none;
  color: white;
}

div.loginAndSignup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  left: 100%;
}

a.login {
  padding: 0.25rem;
  margin: 0rem 0.75rem 0rem 0.25rem;
  height: fit-content;
  width: min-content;
  color: rgb(0, 0, 50);
  background-color: rgb(185, 185, 255);
  font: 14px / 1 serif;
  font-weight: 700;
  border-radius: 0.375rem;
  border: 1.75px solid rgb(18, 18, 255);
  cursor: pointer;
  box-shadow: 0px 0px 1px 0.5px rgb(18, 18, 255);
  text-decoration: none;
  text-align: center;
}

a.signup {
  padding: 0.25rem;
  margin: 0rem 0.75rem 0rem 0rem;
  height: fit-content;
  width: min-content;
  color: rgb(0, 0, 50);
  background-color: rgb(185, 185, 255);
  font: 14px / 1 serif;
  font-weight: 700;
  border-radius: 0.375rem;
  border: 1.75px solid rgb(18, 18, 255);
  cursor: pointer;
  box-shadow: 0px 0px 1px 0.5px rgb(18, 18, 255);
  text-decoration: none;
  text-align: center;
}

a.login:hover {
  transform: scale(1.05, 1.05);
}

input {
  border: 1.75px solid rgb(0, 0, 85);
  border-radius: 0.25rem;
  color: rgb(0, 0, 85);
  font: 16px / 1 serif;
  font-weight: 700;
  box-shadow: 0px 0px 1px 0.5px rgb(0, 0, 85);
  margin: 0.5rem;
  width: 10.45rem;
}

h4 {
  color: white;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  width: 100%;
  background-color: rgb(0, 0, 85);
  text-align: center;
  padding: 0.25rem;
  line-height: 1.25rem;
  margin: 0rem;
  border: 1.75px solid rgb(0, 0, 85);
}

input.search {
  margin: 0.5rem;
  color: white;
  background-color: rgb(0, 0, 85);
  font: 16px / 1 serif;
  font-weight: 700;
  border-radius: 0.375rem;
  padding: 0.0625rem 0.25rem;
  width: fit-content;
  cursor: pointer;
  border: 1.75px solid rgb(175, 175, 255);
  box-shadow: 0px 0px 1px 0.5px rgb(175, 175, 255);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  margin: 0.5rem 1rem;
}

input.search:hover {
  transform: scale(1.025, 1.025);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  margin: 1rem 0rem 0rem 0rem;
  align-items: center;
}

ul {
  list-style: none;
  color: white;
  background-color: rgb(175, 175, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.25rem 0.25rem 0.25rem;
  border-radius: 0.25rem;
  border: 1.75px solid rgb(0, 0, 85);
  border-top-width: 0px;
  margin: 1rem 0.5rem 1rem 0.5rem;
  width: fit-content;
  height: 100%;
  box-shadow: 0px 0px 1px 0.5px rgb(0, 0, 85);
}

ul div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  margin: 0.25rem;
}

ul div li {
  padding: 0.125rem;
  width: fit-content;
  color: rgb(0, 0, 50);
  font-weight: 700;
}

ul div label {
  padding: 0.25rem;
  width: fit-content;
  margin: 0.25rem;
  color: white;
  font-weight: 700;
  background-color: rgb(0, 0, 85);
  border-radius: 0.375rem;
}

img {
  padding: 0.25rem;
  margin: 0rem 0.25rem 0rem 0rem;
  height: fit-content;
  width: min-content;
  color: rgb(0, 0, 50);
  background-color: rgb(185, 185, 255);
  font: 14px / 1 serif;
  font-weight: 700;
  border-radius: 0.375rem;
  border: 1.75px solid rgb(18, 18, 255);
  box-shadow: 0px 0px 1px 0.5px rgb(18, 18, 255);
  text-decoration: none;
  text-align: center;
}

form.login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  list-style: none;
  color: white;
  background-color: rgb(175, 175, 255);
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 2.5px solid rgb(0, 0, 85);
  width: fit-content;
  box-shadow: 0px 0px 2px 1.5px rgb(0, 0, 85);
  margin: 2.5rem;
}

p.login {
  padding: 0.25rem;
  width: fit-content;
  margin: 0.75rem 0.25rem 0.1rem 0.25rem;
  color: white;
  font-weight: 700;
  background-color: rgb(0, 0, 85);
  box-shadow: 0px 0px 1px 0.5px rgb(0, 0, 85);

  border-radius: 0.375rem;
}

input.loginsubmit {
  margin: 0.5rem;
  color: white;
  background-color: rgb(0, 0, 85);
  font: 16px / 1 serif;
  font-weight: 700;
  border-radius: 0.375rem;
  padding: 0.175rem;
  width: 30%;
  cursor: pointer;
  border: 1.75px solid rgb(18, 18, 255);
  box-shadow: 0px 0px 1px 0.5px rgb(18, 18, 255);
}

input.loginsubmit:hover {
  transform: scale(1.025, 1.025);
}

footer {
  width: 100%;
  background-color: rgb(0, 0, 85);
  margin: 1rem 0rem 0rem 0rem;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
  box-shadow: 0px 0px 1px 0.5px rgb(0, 0, 85);
}

div.userPageInner {
  list-style: none;
  color: white;
  background-color: rgb(175, 175, 255);
  display: flex;
  // flex-direction: ;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  border-radius: 0.5rem;
  border: 2.75px solid rgb(0, 0, 85);
  min-width: 6.35rem;
  width: 50vw;
  box-shadow: 0px 0px 3px 1.5px rgb(0, 0, 85);
  margin: 1rem 1rem 1rem 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  // height: 100%;
  resize: horizontal;
  height: fit-content;
  max-width: 97vw;
}

h4.userPageInner {
  min-height: 90%;
  color: white;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  width: 98%;
  background-color: rgb(0, 0, 85);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0.5rem;
  line-height: 1.25rem;
  margin: 0rem;
  border: none;
}

h4.Saved {
  height: fit-content;
  color: white;
  border-radius: 1rem;
  width: 98%;
  background-color: rgb(0, 0, 85);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 1rem;
  line-height: 1.25rem;
  margin: 0rem 0rem 0rem 0.5rem;
  border: 1.75px solid rgb(18, 18, 255);
  box-shadow: 0px 0px 1px 0.5px rgb(18, 18, 255);
}
h4.Saved:hover {
  transform: scale(1.05, 1.05);
}

h4.Saved1 {
  height: fit-content;
  color: rgb(0, 0, 85);
  border-radius: 1rem;
  width: 98%;
  background-color: rgb(175, 175, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 1rem;
  line-height: 1.25rem;
  margin: 0rem;
  border: 1.75px solid rgb(18, 18, 255);
  box-shadow: 0px 0px 4px 2px rgb(18, 18, 255);
}

div.userPageInner ul {
  min-width: fit-content;
  // min-width: fit-content;
  min-height: fit-content;
  // height: fit-content;
  margin: 0.5rem;
  border: 3px solid rgb(0, 0, 85);
  border-radius: 1rem;
  background-color: rgb(18, 18, 255);
  cursor: pointer;
  padding: 0 rem 0.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

div.userPage {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100vw;
  height: 80%;
}
